﻿body {
	display:block;
	/*background:#d9d9d9;
	background-image:url('../grapx/bg_tile.png');
	background-repeat:repeat-x;*/
	background:white;
	margin:0;
	padding:0;
	font-family:"Trebuchet MS", "Times New Roman", Arial, Times, serif;	
	
}

.topbar{
	text-align:left;
	position:relative;
	width:100% !important;
}

.topbar_inside{
	width:960px;
	height:150px;
	margin:0 auto;
	position:relative;

}

.topbar_text{
	position:absolute;
	display:table;
	width: 930px;
	height:150px;
	float:right;
	margin-left:15px;
	margin-right:15px;
}

.topbar_text_left{
	display: table-cell;
	vertical-align: middle;
	text-align: left;	
}

.topbar_text_right{
	display: table-cell;
	vertical-align: middle;
	text-align: right;	
}

.topbar_text_center{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-size:70px;
	color: #3b9bdf;
	height:150px;
	
}

.container{
	position:relative;
	width:100% !important;
}

.rounded{
	-moz-border-radius-bottomright: 25px 25px ;
	border-bottom-right-radius: 25px 25px ;
	-moz-border-radius-topleft: 25px 25px ;
	border-top-left-radius: 25px 25px ;

}

.shadow{
	box-shadow: 5px 5px 10px 2px #bfbfbf;
}

.box{
	width:960px;
	height:750px;
	margin:0 auto;
	position:relative;
	display:block;
	border:15px solid #3b9bdf;
	background: url('../grapx/notebook.png') repeat;
}

.box_inside{
	width:940px;
	height:680px;
	margin:10px;
	position:absolute;
	display:table;
	vertical-align:middle;
}

.box_inside_row{
	display:table-row
}

.box_item_center{
	display: table-cell;
	text-align: center;
	vertical-align: top;
	margin:0 auto;
	color: #3b9bdf;
	width:100%;
	position:relative;
}

.pInput{
	display:inline-block;
	width:100px;
	position:relative;
	text-align: left;
	font-weight: bold;
}

.input {
	display:inline-block;
	width:150px;
	position:relative;
	border: #3b9bdf solid 1px;
	margin:16px;
}

.inputSubmit {
	display:inline-block;
	width:150px;
	position:relative;
	border: #3b9bdf solid 1px;
	background:#3b9bdf;
	color:white;
	font-weight: bold;
	margin:16px;
}

.pSubmit{
	display:inline-block;
	width:100px;
	position:relative;
	text-align: left;
	font-weight: bold;
}

.pType{
	display:block;
	width:100%;
	position:relative;
	margin:0 auto;
	text-align: center;
	font-style: italic;
	font-size: 10px;
}

.form{
	width: 300px;
	margin: 0 auto;
	background: white;
	border: #3b9bdf solid 4px;
}

.userForm{
	width: 600px;
	margin: 0 auto;
	background: white;
	border: #3b9bdf solid 4px;
}

.officeForm{
	width: 600px;
	margin: 0 auto;
	background: white;
	border: #3b9bdf solid 4px;
}

.candidateForm{
	width: 600px;
	margin: 0 auto;
	background: white;
	border: #3b9bdf solid 4px;
}

.electionForm{
	width: 600px;
	margin: 0 auto;
	background: white;
	border: #3b9bdf solid 4px;
}


.item{
	vertical-align:middle;
	display:inline-block;
	width: 200px;
	height:200px;
	margin: 0 25px;
	position:relative;
}


.itemText{
	position:absolute;
	top:80px;
	left:60px;
	color:white;
	font-size:30px;
}

.overButton{
	position:absolute;
	top:0px;
	left:0px;
	text-align:center;
}

.table_row{
	display: table-row;
	height:50%;
}

.table_wrapper{
	height:800px;
	overflow: auto;
	max-height: 400px;
	vertical-align: top;
	display: block;
}

table{
	width:100%;
	table-layout:fixed;
}

table tbody{
	/*overflow:hidden;*/
	text-align:center;
	background:white;
}

table tbody tr:hover{
	background:black;
	color:white;
}

table thead tr{
	background:#3b9bdf;
	color:white;
}

table tfoot tr{
	text-align:center;
}

a, a:link, a:visited, a:hover, a:active{
	color:#3b9bdf;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
}

.table_row_footer{
	height:5%;
	margin-top:10px;
	text-align: left
}

.table_row_title{
	display: table-row;
	height:2%;
}

.title{
	display:block;
	width:100%;
	margin:0 auto;
	position:relative;
	text-align:left;
	font-size:25px;
	
}

.nav{
	font-size:25px;
	background:#FFFFFF;
	color:#3b9bdf;
	margin:0;
	display:inline-block;
	padding:5px;
}

.nav_active{
	font-size:25px;
	background:#3b9bdf;
	color:white;
	margin:0;
	display:inline-block;
	padding:5px;
}

.logout{
	background:#3b9bdf; 
	font-size:25px;
	display:inline-block;
	color:white; 
	padding:5px;
	float:right
}


.table_row_content{
	display: table-row;
	height:70%;
}

.footer{
	width:960px;
	height:100px;
	display:block;
	position:relative;
	margin:0 auto;
}

.footer_container{
	position:absolute;
	display:table;
	width: 930px;
	height:100px;
	float:right;
	margin-left:15px;
	margin-right:15px;
}

.footer_text_center{
	display: table-cell;
	vertical-align: top;
	text-align: center;
	padding-top:20px;
	font-size:15px;
	color: #3b9bdf;
}


.footer_text{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.row{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	width:200px;
	background:green;
}

.wrapper{
	position:relative;
	background:lime;
	float:right;
}
